<!-- Bad Guy Pane -->
<div class="scrollblock" id="opening-pane">
  <div class='container'>
    <div id="logo"><%= image_tag('block1-logo.png') %></div>
    <div class='subtitle'>Origin Tale.  Secret of the Booze.</div>
    <div style='clear: both;'></div>
    <div id="popout">
      <div id="back"><%= image_tag('block1-listy-back.png')%></div>
      <div id="front">
        <%= image_tag('block1-listy-front.png')%>
        <div id="cover">&nbsp;</div>
        <div style='clear: both;'></div>
      </div>
      <div id="listy"><%= image_tag('block1-listy.png') %></div>
    </div>
    <div class='callout'>
      <div class='content'>Scroll Down</div>
      <%= image_tag('block1-dialog-arrow.png')%>
    </div>
    <div style='clear: both;'></div>
  </div>

  <div style='clear: both;'></div>
  <div class="ending-panel"></div>
</div>

<!-- Bad Guy Pane -->
<div class="scrollblock" id="badguy-pane">
  <div class="cityscape-back"><%= image_tag('skyline-back.png')%></div>
  <div class="cityscape-front"><%= image_tag('skyline-front.png')%></div>
  <div class="dr-slum"><%= image_tag('dr-slumlord.png')%></div>
  <div class="frog-1"><%= image_tag('frog1.png')%></div>
  <div class="frog-2"><%= image_tag('frog2.png')%></div>
  <div class="frog-3"><%= image_tag('frog3.png')%></div>
  <div class="frog-king"><%= image_tag('frog-king.png')%></div>
  <div class="apt1"><%= image_tag('apt1.png')%></div>
  <div class="apt2"><%= image_tag('apt2.png')%></div>
  <div class="apt3"><%= image_tag('apt3.png')%></div>
  <div class="apt4"><%= image_tag('apt4.png')%></div>
  <div class="apt5"><%= image_tag('apt5.png')%></div>
  <div class="caption-container-header">
    <div class="caption" id="caption1">Dr. Slumlord and his minions rule the city</div>
    <div class="caption" id="caption2">They have kidnapped all the apartments and are holding them hostage</div>
    <div class="caption" id="caption3">Who will save them!?!</div>
  </div>

  <div style='clear: both;'></div>
  <div class="ending-panel"></div>
</div>

<div class="scrollblock" id="lab-pane">
  <div class="lab"><%= image_tag('block2-1.png')%></div>
  <div class="lab-on"><%= image_tag('block2-2.png')%></div>

  <div style='clear: both;'></div>
  <div class="ending-panel"></div>
</div>

<div class="scrollblock" id="tech-pane">
	<div class="container">
		<div class="background"><%= image_tag('block3-back.png')%></div>
		<div class="listy1"><%= image_tag('listy-front.png')%></div>
		<div class="listy2"><%= image_tag('listy-front-wire.png')%></div>
		<div class="listy3"><%= image_tag('listy-side.png')%></div>
		<div class="listy4"><%= image_tag('listy-side-wire.png')%></div>
		<div class="listy5"><%= image_tag('listy-back.png')%></div>
		<div class="listy6"><%= image_tag('listy-back-wire.png')%></div>
		<div class="front-text text" id="front-text1"><span>Laser powered vision scopes</span></div>
		<div class="front-text text" id="front-text2"><span>Extreme  masticator</span></div>
		<div class="front-text text" id="front-text3"><span>Triple threat rocket launchers</span></div>
		<div class="side-text text" id="side-text1"><span>Telekenetic generator</span></div>
		<div class="side-text text" id="side-text2"><span>Apartment location receptors</span></div>
		<div class="side-text text" id="side-text3"><span>Super speed all terrain mobility discs</span></div>
		<div class="back-text text" id="back-text1"><span>Data input collector</span></div>
		<div class="back-text text" id="back-text2"><span>5.5 googleplex processor</span></div>
		<div class="back-text text" id="back-text3"><span>His butt</span></div>
		<div class="ending-panel"></div>
	</div>
</div>

<div class="scrollblock" id="panel5">
	<div class="caption caption1"></div>
	<div class="caption caption2"></div>
	<div class="caption caption3"></div>
  <h3 id="unpin">&#9733; Unpin #3 &#9733;</h3>
</div>

