<div class="scrollblock" id="opening-pane">
  <div class='container'>
    <div id="logo"><%= image_tag('block1-logo.png') %></div>
    <div class='subtitle'>Origin Tale.  Secret of the Booze.</div>
    <div style='clear: both;'></div>
    <div id="popout">
      <div id="back"><%= image_tag('block1-listy-back.png')%></div>
      <div id="front">
        <%= image_tag('block1-listy-front.png')%>
        <div id="cover">&nbsp;</div>
      </div>
      <div id="listy"><%= image_tag('block1-listy.png') %></div>
    </div>
    <div class='callout'>
      <div class='content'>Scroll Down</div>
      <%= image_tag('block1-dialog-arrow.png')%>
    </div>
  </div>
  <div style='clear: both;'></div>
  <div class="end-panel"></div>
</div>
