<div class="scrollblock" id="opening-pane">
  <div class='container'>
    <div id="logo"><%= image_tag('block1-logo.png') %></div>
    <div class='subtitle'>Origin Tale.  Secret of the Booze.</div>
    <div style='clear: both;'></div>
    <div id="popout">
      <div id="back"><%= image_tag('block1-listy-back.png')%></div>
      <div id="front">
        <%= image_tag('block1-listy-front.png')%>
        <div id="cover">&nbsp;</div>
        <div style='clear: both;'></div>
      </div>
      <div id="listy"><%= image_tag('block1-listy.png') %></div>
    </div>
    <div class='callout'>
      <div class='content'>Scroll Down</div>
      <%= image_tag('block1-dialog-arrow.png')%>
    </div>
    <div style='clear: both;'></div>
  </div>

  <div style='clear: both;'></div>
  <div class="ending-panel"></div>
</div>

<div class="scrollblock" id="badguy-pane">
  <div class="cityscape-back"><%= image_tag('skyline-back.png')%></div>
  <div class="cityscape-front"><%= image_tag('skyline-front.png')%></div>
  <div class="dr-slum"><%= image_tag('dr-slumlord.png')%></div>
  <div class="frog-1"><%= image_tag('frog1.png')%></div>
  <div class="frog-2"><%= image_tag('frog2.png')%></div>
  <div class="frog-3"><%= image_tag('frog3.png')%></div>
  <div class="frog-king"><%= image_tag('frog-king.png')%></div>
  <div class="apt1"><%= image_tag('apt1.png')%></div>
  <div class="apt2"><%= image_tag('apt2.png')%></div>
  <div class="apt3"><%= image_tag('apt3.png')%></div>
  <div class="apt4"><%= image_tag('apt4.png')%></div>
  <div class="apt5"><%= image_tag('apt5.png')%></div>
  <div class="caption-container-header">
    <div class="caption" id="caption1">Dr. Slumlord and his minions rule the city</div>
    <div class="caption" id="caption2">They have kidnapped all the apartments and are holding them hostage</div>
    <div class="caption" id="caption3">Who will save them!?!</div>
  </div>
  <div style='clear: both;'></div>
  <div class="ending-panel"></div>
</div>

<!---
<div class="scrollblock" id="badguy-pane">
  <div class='container'>
    <div class="cityscape-back"><%= image_tag('skyline-back.png')%></div>
    <div class="cityscape-front"><%= image_tag('skyline-front.png')%></div>
  <div class='container'>

  <div style='clear: both;'></div>
  <div class="end-panel"><hr></hr></div>
</div>
//-->

<div class="scrollblock" id="panel3">
  <h2>Panel #3</h2>
  <h3 id="unpin">&#9733; Unpin #3 &#9733;</h3>
</div>

<div class="scrollblock" id="panel4">
  <h2>Panel #4</h2>
  <h3 id="unpin">&#9733; Unpin #4 &#9733;</h3>
</div>
